/*
.back-computer{
	z-index: 999;
	position: fixed;
	top: 15%;
	left: 3%;
}
.back-mobile{
	z-index: 999;
	position: fixed;
	bottom: 15%;
	right: 10%;
}
*/
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#wrapper {
	min-height:100%;
	position:relative;
}

#footer {
	width:100%;
	position:absolute;
	bottom: 0;
	left:0;
}